*{
	margin:0;
	padding:0;
}
a{
	border: none;
	border: 0px;
}
body{
	background-image: url("img/bg_bgBody.gif");
	font-family: "����",arial;
}

.bottomDiv{
	height:50px;
	width:100%;
	border-top: 1px solid gray;
	background: #FADB0E;
}

.cart{
	position: absolute;
	top:19.4%;
	left:53%;
}

.cartButton{
	position: relative;
	padding-top:30px;
}

.cartButton span{
	margin-right:5px;
	padding-left:12px; 
	padding-right:12px;
	padding-top:3px; 
	padding-bottom:3px; 
	color:#fff; 
	background-color: #037E3D; 
}
.cartButton span:HOVER{
	border:3px solid #037E3D;
		box-shadow:0 5px 10px rgba(3,126,61, .5);
	-moz-box-shadow:0 5px 10px rgba(3,126,61, .5);
	-webkit-box-shadow:0 5px 10px rgba(3,126,61, .5);
} 

.cartButton span a{
	color:#FADB0E;
	font-size: 13px;
	text-decoration: none;
}

li{
	display: inline-block;
}

.logoDiv{
	height: 85px;
	width:auto;
	background-color: #fff;
	
}

.myCart{
	height: auto;
	min-height:730px;
	width: 100%;
}

.myCartContainer{
	position: relative;
	margin-left: 15%;
	top:30px;
	width: 980px;
	height: auto;
}

.myCartInfo{
	position: relative;
	height: auto;
	width: 100%;
}
.myCartInfo table{
	margin: 0 auto;
	
}

.myCartInfo table th{
	background: #F9F9F9 none repeat scroll 0% 0%;
	height: 30px;
	line-height: 30px;
	font-weight: 700;
	color: #333;
}

.myCartInfo table td{
	background: #FFF none repeat scroll 0% 0%;
	vertical-align: middle;
	padding: 5px 0px 5px 5px;
	text-align: center;
}

.myCartTittle{
	position: relative;
	width: 100%;
	height: 75px;
	background-color:#F9F9F9;
	border-bottom: 1px solid #DBDBDB;
}

.total{
	padding-top:20px;
	text-align: right;
	font-size: 13px;
}


.topDiv{
	position:relative;
	background-color:#037E3D; 
	height:40px;
	border-bottom: 1px solid #DCDCDC;
}

.topContainer{
	position:relative;
	margin: 0 auto;
	width: 980px;
	height: 33px;
}

.topDiv ul{
	position:absolute;
	left: 90%; 
	font-size: 15px;
}

.topDiv li{
	display: inline-block;
	margin-top:3px;
}

.topDiv a{
	padding:4px; 
	color: black;
}
